/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins&family=Preahvihear&display=swap');
*{
    font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Preahvihear', sans-serif;
} */